.pokemon-index {
  font-size: 1rem;
  text-align: left;
}
.pokemon-img {
  height: 7rem;
    width: 7rem;
}

.card:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.link-map.focus, .link-map.hover, .link-map.visited, .link-map.link, .link-map.active, .link-map
{
    text-decoration: none;
    color: black;
    
}
  